.loading{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: grid;
    place-items: center;
    max-width: 100%;
}

.loading > div{
    width: 10vmax;
    background-color: white;
    height: 10vmax;
    border-bottom: 5px solid rgba(110,110,110);
    border-radius: 50%;
    animation-name: loader;
    animation-duration: 800ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes loader {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}